
span.st-emotion-cache-10trblm.e1nzilvr1
{
    background-color: #6495ED;
    color: MidnightBlue;
    border-radius: 10px;
    font-family: "Times New Roman", Times, serif;
    border-color: white;
}

.st-emotion-cache-z5fcl4 {
    padding-left: 20rem;
    padding-right: 20rem;
}


div.st-emotion-cache-1v0mbdj.e115fcil1>img {
    align-items: center;
    justify-content: center;
}
.st-emotion-cache-1gv5c5a p {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 19px;
}


